---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import SubHero from "../components/SubHero.astro";
import Intro from "../components/Intro.astro";
import IntroHoC from "../components/IntroHoC.astro";
import SessionsList from "../components/SessionsList.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import Faq from "@components/Faq.astro";
---

<Layout
	title="Benefarm 培樂儂 數位策展"
	description="資訊使用者行為探索..."
>
	<Header />
	<main>
		<Hero />
		<SubHero />
		<Intro />
		<IntroHoC />
		<SessionsList />
		<Faq />
	</main>
	<Footer />
</Layout>
